.pageLinksContainer a {
  position: relative;
  font-weight: bold;
  display: inline-block;
}

.pageLinksContainer a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  transition: all ease-in 200ms;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
}

.pageLinksContainer > li:hover a::before {
  width: 100%;
}

.pageLinksContainer .activeLink::before {
  width: 100%;
}
